<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.video.ldsgospelmedia">

    <category id="playback" label="30100">
      <group id="1" label="30101">
        <setting id="video_quality" type="string" label="30102" help="30103">
          <level>0</level>
          <default>1080</default>
          <constraints>
            <options>
              <option label="30104">1080</option>
              <option label="30105">720</option>
              <option label="30106">360</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
      </group>
    </category>

    <category id="advanced" label="30110">
      <group id="1" label="30111">
        <setting id="cache_minutes" type="integer" label="30112" help="30113">
          <level>0</level>
          <default>360</default>
          <constraints>
            <minimum>0</minimum>
            <step>30</step>
            <maximum>2880</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="clear_cache" type="action" label="30114">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.video.ldsgospelmedia/?action=clear_cache)</data>
          <control type="button" format="action">
            <close>false</close>
          </control>
        </setting>
      </group>
      <group id="2" label="30115">
        <setting id="debug_logging" type="boolean" label="30116" help="30117">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
      </group>
    </category>

  </section>
</settings>
